.navigationMenu a {
  color: #102851;
  text-decoration: none;
}

@media (max-width: 900px) {
  .navigationMenu {
    background: #102851;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
    width: 90vw;
    height: 100vh;
    transform: translateX(100%);
    transition: transform 400ms ease;
  }

  .navigationMenu.menuVisible {
    transform: translateX(0);
  }

  .navigationMenu a {
    color: #fff;
  }
}
